---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

const cart = Astro.cookies.get('cart');

const { data: products, error } = await Astro.callAction(actions.loadProductsFromCart, []);

if (error || !products) return Astro.redirect('/');


---

<MainLayout title="Cart">
    <h1>Cart</h1>
    <code>{JSON.stringify(products)}</code>
</MainLayout>